@import "../shared/styles/variables";

.container {
  grid-template-columns: auto;
  grid-template-rows: auto 2px auto;
  grid-row-gap: 30px;

  @media (min-width: 768px) {
    grid-template-rows: auto auto;

  }

  @media (min-width: 1024px) {
    grid-template-columns: 40% auto;
    grid-column-gap: 20px;
  }

  &__hr {
    background-color: $border-color-gray;

    @media (min-width: 768px) {
      display: none;
    }
  }
}