<h3>Extrato de transações</h3>
<table cellspacing="0" *ngIf="transactionList.length > 0">
  <thead>
    <tr>
      <th>Mercadoria</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactionList; let i = index">
      <td>
        <span>{{ transaction.type === 'Compra' ? '-' : '+' }}</span>
        {{ transaction.commodity }}</td>
      <td class="text-align-right">
         {{ transaction.price | currency:'BRL' }}
         <span class="icon-list" (click)="deleteItem(i)"></span>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Total</td>
      <td class="text-align-right">{{ total | currency:'BRL' }}</td>
    </tr>
    <tr>
      <td colspan="2" *ngIf="total > 0"><small>[LUCRO]</small></td>
      <td colspan="2" *ngIf="total < 0"><small>[PREJUÍZO]</small></td>
    </tr>
  </tfoot>
</table>
<p class="empty-list" *ngIf="transactionList.length <= 0">Não há nenhuma transação cadastrada.</p>